# ==============================
# Virtual Environment
# ==============================
.venv/
venv/
env/
ENV/

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Python Cache
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Logs & Temporary Files
# ==============================
*.log
*.tmp
*.temp

# ==============================
# MLflow
# ==============================
mlruns/
mlflow.db

# ==============================
# Processed Data
# ==============================
data/processed/

# ==============================
# Trained Models
# ==============================
models/trained/
models/preprocessed/

# ==============================
# Generated Reports / Figures
# ==============================
reports/figures/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db
desktop.ini